{% extends "base.html" %}

{% block app_content %}
<h1> Hurt your friend </h1>
<h4 class="text-center"> Hurt your friend - это игра созданная для релакса. <br> <br>
    Игра поддерживает несколько режимов: <br> <br>
    <ul>
        <li title="Standart - Обычный режим, в которм все по стандарту.">Standart</li> <br>
        <li title="BDSM - Режим в котором персонаж испытывает удовольствие от насилия.">BDSM</li>
    </ul>
    Вам будет досупно игровое поле на котором будет персонаж. <br> <br>
    Игра может имитировать голос закруженного человека, <br> придумывать фразы и определять эмоции человека в тот или иной
    момент. <br>
    <br><br><br>

</h4>

{{ wtf.quick_form(form) }}

{% endblock %}

{% block styles %}
{{ super() }}

{% endblock %}